<div class="row">
    <div class="col-md-12">
        <h1>Somar</h1>
    </div>
</div>

<div class="jumbotron">
    
    <div class="row">
        <div class="col-md-12">
            <h2>Valor Total</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <input class="form-control" type="text">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-block btn-warning" type="button" id="btnLanche" value="5.00">Lanche R$ 5.00</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-block btn-warning" type="button" id="btnBebida" value="4.00">Bebida R$ 4.00</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-block btn-warning" type="button" id="btnDoce" value="3.00">Doce R$ 3.00</button>
        </div>
    </div>

</div>